<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目-问题反馈</title>
    <link rel="stylesheet" type="text/css" href="../style/css.css">
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/index.css">
    <script src="../js/jquery-1.7.2.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/enter1.js"></script>
</head>
<body>
<div class="cFour">
    <div class="cFourHeader">问题反馈</div>
    <div class="cFourContent">
        <div class="cFourNav">
            <div class="cFourQuestion">*标题</div>
            <div class="cFourQuestionFirst">
                <input type="text"/>
            </div>
        </div>
        <div class="cFourBody">
            <div class="cFourQuestion cFourQuestions">*问题与建议描述</div>
            <div class="cFourQuestion">
                <input type="text" />
            </div>
            <div class="cFourSrc">
                <div class="cFourImg">图片</div>
                <div class="cFourPlus">+</div>
                <div class="cFourSty">PDF/JPG/PNG格式</div>
                <div style="clear: both"></div>
            </div>
            <div class="cFourQuestion">*处理人</div>
            <div class="cFourQuestion">
                <select>
                    <option></option>
                </select>
            </div>
            <div class="cFourQuestionSubmit">
                <div class="cFourSubmit">提交</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>