<!-- 封装在index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物料入库</title>
    <link rel="stylesheet" type="text/css" href="../style/css.css">
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/index.css">
    <script src="../js/jquery-1.7.2.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/enter1.js"></script>
</head>
<body>
<div class="cSixOneOne">
    <div class="cSixOneOneHeader">
        <span>物料入库</span>
        <span class="bac">X</span>
    </div>
    <div class="cSixOneOneContent">
        <div class="cSixOneOneFirst">
            <div>物料类别</div>
            <input type="text">
        </div>
        <div class="cSixOneOneSecond">
            <div>物料编号</div>
            <input type="text">
        </div>
        <div class="cSixOneOneSecond cSixOneOneThird">
            <div>物料规格</div>
            <input type="text">
        </div>
        <div style="clear: both"></div>
        <div class="cSixOneOneSecond cSixOneOneFive">
            <div>物料量</div>
            <select>
                <option>0.00</option>
            </select>
        </div>
        <div class="cSixOneOneSecond cSixOneOneSix">
            <div>单位</div>
            <select>
                <option></option>
            </select>
        </div>
        <div style="clear: both"></div>
        <input  class="cSixOneOneSixFile" type="file"/>
        <div class="cSixOneOneSixSubmit">提交</div>
    </div>
</div>
</body>
</html>