<!--封装在page-1-b6-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
	<!--<meta charset="UTF-8">-->
	<!--<title>邀请创建账户</title>-->
<!--<link rel="stylesheet" type="text/css" href="../style/css.css">-->
<!--<link rel="stylesheet" type="text/css" href="../style/reset.css">-->
<!--<link rel="stylesheet" type="text/css" href="../style/index.css">-->
<!--<script src="../js/jquery-1.7.2.js"></script>-->
<!--<script src="../js/index.js"></script>-->
<!--<script src="../js/enter1.js"></script>-->
<!--</head>-->
<!--<body>-->
	<!--<div class="header">-->
	    <!--<div style="float: left">BIM装修工程协同管理系统</div>-->
	    <!--<div class="Engineer">工程管理</div>-->
	    <!--<div class="Unit">单位管理</div>-->
	    <!--<div class="System">系统管理</div>-->
	    <!--<div class="Manger">用户管理</div>-->
	    <!--<div class="User">-->
	        <!--<span class="Photo">头像</span>-->
	        <!--<span>Type something@163.com</span>-->
	        <!--<span class="Function"></span>-->
	    <!--</div>-->
	<!--</div>-->
	<!--<div class="b61">-->
		<!--<div class="b61-header">-->
			<!--创建账户-->
		<!--</div>-->
		<!--<div class="b61-center">-->
			<!--<div class="b6-left title">-->
				<!--<span>后台创建</span>-->
			<!--</div>-->
			<!--<div class="b61-right title">-->
				<!--<span class="active">邀请注册</span>-->
			<!--</div>-->
			<!--<div style="clear:both"></div>-->
			<!--<div class="b61-content">-->
				<!--<div class="b61-left text">-->
					<!--<span>请填写邀请好友信息。</span>-->
				<!--</div>-->
				<!--<div class="b61-right sign">-->
					<!--<span>*必填项</span>-->
				<!--</div>-->
				<!--<div style="clear:both"></div>-->
				<!--<div class="b61-left infor">-->
					<!--<span>*</span>姓名-->
					<!--<br>-->
					<!--<input type="text" name="name" placeholder="姓名">-->
				<!--</div>-->
				<!--<div class="b61-right infor">-->
					<!--<span>*</span>邮箱/手机号码-->
					<!--<br>-->
					<!--<input type="text" name="name" placeholder="邮箱/手机号码">-->
				<!--</div>-->
			<!--</div>-->
			<!--<div style="clear:both"></div>-->
			<!--<div class="please-btn">-->
				<!--<button>立即邀请</button>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--<script modelJS="../modelJS/jquery-1.7.2.modelJS"></script>-->
    <!--<script modelJS="../modelJS/index.modelJS"></script>-->
    <!--<script modelJS="../modelJS/enter.modelJS"></script>-->
<!--</body>-->
<!--</html>-->