<!--封装在index.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>质量控制，物料使用</title>
    <link rel="stylesheet" type="text/css" href="../style/css.css" />
    <link rel="stylesheet" type="text/css" href="../style/reset.css" />
    <script src="../js/jquery-1.7.2.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
<div class="cSixTwoOne">
    <div class="cSixOneHeader">
        <div class="cSixOneHeaderOne">物料入库</div>
        <div class="cSixOneHeaderTwo">物料使用</div>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
    <div class="bSixTwoOneContent">
        <div class="bSixTwoOneTitle">
            三维模型
        </div>
        <div class="bSixTwoOnePicture">
        </div>
        <div class="bSixTwoOneContentTitle1">
            构建使用列表
        </div>
        <div class="cSixTwoOneContentList">
            <div class="cSixTwoOneSearchButton">
                <input class="cSixTwoOneContentSearch" placeholder="任务名称">
            </div>
            <div class="cSixTwoOneContentColor">
                <ul>
                    <li>构建名称</li>
                    <li>水泥</li>
                    <li>乳胶原</li>
                    <li>木头</li>
                    <li>水泥</li>
                    <li>乳胶带</li>
                    <li>木头</li>
                    <li>水泥</li>
                    <li>操作</li>
                </ul>
                <div style="clear: both"></div>
            </div>
            <div class="cSixTwoOneContentMess">
                <ul>
                    <li>天井</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>编辑</li>
                    <li>删除</li>
                </ul>
                <div style="clear: both"></div>
            </div>
            <div class="cSixTwoOneContentMess">
                <ul>
                    <li>阳台</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>编辑</li>
                    <li>删除</li>
                </ul>
                <div style="clear: both"></div>
            </div>
            <div class="cSixTwoOneContentMess">
                <ul>
                    <li>门框</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>1KG</li>
                    <li>编辑</li>
                    <li>删除</li>
                </ul>
            <div style="clear: both"></div>
            </div>
        </div>
    </div>
    <div class="cSixTwoOneRight">
        <div class="cSixTwoOneTaskName">属性</div>
        <div class="cSixTwoOneTaskSecond">
            <div class="cSixTwoOneTaskLeft" style="float: left">构建名称：</div>
            <div class="cSixTwoOneTaskRight"><input type="number" placeholder="20KG"></div>
            <div style="clear: both"></div>
        </div>
        <div class="cSixTwoOneTaskOne">
            <div class="cSixTwoOneTaskLeft" style="float: left">水泥：</div>
            <div class="cSixTwoOneTaskRight"><input type="number" placeholder="20KG"></div>
            <div style="clear: both"></div>
        </div>
        <div class="cSixTwoOneTaskSecond">
            <div class="cSixTwoOneTaskLeft" style="float: left">黄沙：</div>
            <div class="cSixTwoOneTaskRight"><input type="number" placeholder="20KG"></div>
            <div style="clear: both"></div>
        </div>
        <div class="cSixTwoOneTaskOne">
            <div class="cSixTwoOneTaskLeft" style="float: left">石头：</div>
            <div class="cSixTwoOneTaskRight"><input type="number" placeholder="20KG"></div>
            <div style="clear: both"></div>
        </div>
        <div class="cSixTwoOneTaskSecond">
            <div class="cSixTwoOneTaskLeft" style="float: left">乳胶原：</div>
            <div class="cSixTwoOneTaskRight"><input type="number" placeholder="20KG"></div>
            <div style="clear: both"></div>
        </div>
        <div class="cSixTwoOneSubmit">保存</div>
    </div>
</div>
</body>
</html>