<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="../style/css.css">
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/index.css">
    <script src="../js/jquery-1.7.2.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/enter1.js"></script>
</head>
<body>
<div class="bFourOne">
    <div class="bFourOneTitle">
        我的账户
    </div>
    <div style="clear: both"></div>
    <div class="bFourOneContent">
        <ul>
            <li class="bFourOneContentFirst">个人资料</li>
            <li class="bFourOneContentSecond">账户绑定</li>
            <li class="bFourOneContentThird">修改密码</li>
        </ul>
        <div style="clear: both"></div>
        <ul>
            <li class="bFourOneContentFirstF"></li>
            <li class="bFourOneContentSecondS"></li>
            <li class="bFourOneContentThirdT"></li>
        </ul>
        <div style="clear: both"></div>
        <div class="bFourThreeList">
            <div class="bFourThreeListName">
                <div class="bFourThreeSecret">原密码</div>
                <div class="bFourThreeInput"><input type="text" placeholder="请输入原密码"/></div>
            </div>
            <div class="bFourThreeListName">
                <div class="bFourThreeSecret">新密码</div>
                <div class="bFourThreeInput">
                    <span><input type="text" placeholder="请输入原密码"/></span>
                    <span>密码由6-20个字符串</span>
                </div>
                <div class="bFourThreeNote">
                    <span>密码强度</span>
                    <span class="bFourThreeStrong">弱</span>
                    <span class="bFourThreeStrong">中</span>
                    <span class="bFourThreeStrong">强</span>
                </div>
            </div>
            <div class="bFourThreeListName">
                <div class="bFourThreeSecret">新密码</div>
                <div class="bFourThreeInput"><input type="text" placeholder="请输入原密码"/></div>
            </div>
            <div style="clear: both"></div>
            <div class="bFourThreeSubmit">
                <div class="bFourThreeSubmitButton">保存</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>