<!--封装在index.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建构建</title>
    <link rel="stylesheet" type="text/css" href="../style/css.css">
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/index.css">
    <script src="../js/jquery-1.7.2.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/enter1.js"></script>
</head>
<body>
<div class="bThreeFour">
    <div class="bThreeFourHeader">添加构建</div>
    <div class="bThreeFourBack">X</div>
    <div class="bThreeFourContent">
        <form>
            <div>
                <div class="bThreeName">构建名称</div>
                <div class="bThreeName">（可多选批量）</div>
            </div>
            <div style="position: relative">
                <input  class="bThreeFourInput" type="text">
                <div class="bThreeFourPlus">+</div>
            </div>
            <div class="bThreeFourList">
                <ul>景观设计
                    <li><input type="checkbox">名称二</li>
                    <li><input type="checkbox">名称四</li>
                </ul>
                <ul>景观设计
                    <li><input type="checkbox">名称二</li>
                    <li><input type="checkbox">名称四</li>
                </ul>
            </div>
            <div class="bThreeFourHide"></div>
        </form>
        <form>
            <div class="bThreeName">构建类型</div>
            <select class="bThreeFourSel">
                <option value=""></option>
                <option value=""></option>
            </select>
        </form>
    </div>
    <div class="bThreeFourFooter">
        <div class="bThreeFourReset">取消</div>
        <div class="bThreeFourReset bThreeFourBuild">创建</div>
    </div>
</div>
</body>
</html>