/*
 * Toastr
 * Copyright 2012-2014 John Papa and Hans Fjällemark.
 * All Rights Reserved.
 * Use, reproduction, distribution, and modification of this code is subject to the terms and
 * conditions of the MIT license, available at http://www.opensource.org/licenses/mit-license.php
 *
 * Author: John Papa and Hans Fjällemark
 * Project: https://github.com/CodeSeven/toastr
 */
.toast-title {
  font-weight: bold;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
.toast-center-center{
  top: 35%;
  left: 39%;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/

}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
#toast-container > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}
#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto;
}
.toast {
  background-color: #030303;
}
.toast-success {
  /*background-color: #51a351;*/
  background-color:#36C167 ;
}
.toast-error {
  /*background-color: #bd362f;*/
  background-color: #F94A47;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

.xf{
  width: 45px;
}
.subdiv{
  position: relative;
}
.delete-subidv{
  position: absolute;
  right: 10px;
  top: 0;
  height: 34px;
  line-height: 34px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.tables{
  width: 100%;
  border-top: solid #dcdcdc 1px;
}
.jdjh-table,.table-sty{
  width: 100%;
  border-top: solid #dcdcdc 1px;
  margin: 10px auto;
}
.tables tr{
  height: 40px;
  border: solid #dcdcdc 1px;
}
.jdjh-table tr{
  height: 40px;
  border: solid #dcdcdc 1px;
}
/*.table-sty tr{
  height: 40px;
  border: solid #dcdcdc 1px;
}*/
/*.odds{
  background: #f9f9f9;
  border:none;
}*/
.table-sty tr th{
  text-align: center;
}
.tables tr th{
  text-align: center;
}
.jdjh-table tr th{
  text-align: center;
}
/*.tr-header th{
  border-right: solid #dcdcdc 1px;
}*/
.tr-headers th{
  border-right: solid #dcdcdc 1px;
}
.th-input{
  height: 22px;
  width: 90%;
  text-align: center;
}
.th-input-style{
  height: 22px;
  width: 80px;
  text-align: center;
}
.th-inputs{
  height: 22px;
  width: 200px;
}
.del-sxfs{
  background: #d84a38;
  color: #fff;
  padding: 4px 10px 5px 10px;
  font-weight: 100;
}
.add-sxfs-lz{
  margin-top: 10px;
}
.sel{
  width: 50%;
  margin: 10px auto;
}
.spe{
  width: 96%;
  margin: 10px auto;
  border:solid #ccc 1px;
}
.font-weights{
  background: #f9f9f9;
  font-weight: 700;
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.common-gg{
  margin-bottom: 10px;
}
.titles{
  height: 34px;
  line-height: 34px;
}
.titles th{
  border-right: solid #dcdcdc 1px;
}
.title th:last-child{
  border:none;
}
.cont{
  background: #f9f9f9;
  height: 66px;
  line-height: 66px;
  border-top: solid #dcdcdc 1px;
  border-bottom: solid #dcdcdc 1px;
}
.paddings{
  padding: 0 8px;
}
.font-w{
  font-weight: 100;
}
.split-container{
  width: 70%;
  min-height: 750px;
  height: auto;
  background: #fff;
  margin: 30px auto;
  z-index: 10001;
  border-radius: 10px;
  padding-bottom: 10px;
  position: relative;
}
.out-container{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  overflow-x:none;
  overflow-y:auto !important;
  width: 100%;
  height: 100%; 
  display: none;
}
.bg-container-black{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  z-index: 9999;
  opacity: 0.5;
  display: none;
}
.split-header{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 15px;
  font-size: 16px;
  position: relative;
}
.close-btn{
  position: absolute;
  right: 15px;
  top: 15px;
}
.split-title-cfq{
  background: #ffb848;
  width: 100%;
  height: 34px;
  line-height: 34px;
  text-indent: 15px;
  color: #fff;
  font-size: 14px;
}
.yel{
  width: 100%;
  background: #ffb848;
  margin-top: 20px;
  text-indent: 15px;
  color: #fff;
}
.split-content{
  min-height: 660px;
  height: auto;
  width: 100%;
  border-bottom: solid #dcdcdc 1px;
}
.split-footer{
  width: 100%;
  height: 40px;
}
.save-split{
  margin-top: 6px;
  width: 56px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #ffb848;
  float: right;
  margin-right: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}
.cancle-split{
  margin-top: 6px;
  width: 56px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: right;
  border:solid #ccc 1px;
  margin-right: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}
.add-cf{
  margin-top: 6px;
  width: 56px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #ffb848;
  float: right;
  margin-right: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}
.sxfs-style{
  height: 66px !important; 
  background: #f9f9f9;
}
.tr-header{
  height: 34px !important;
}
#tables{
  width: 80%;
  margin: 0 auto;
}
.no-data{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  display: none;
}
.addAction-container{
  display: inline-block;
  width: 134px;
  height: 67px;
}
.add-action-style{
  background: #d84a38;
  color: #fff;
  padding: 5px 10px;
}
.addTabZjp,.addTabSdc,.addTabZxs,.addTab{
  float: right;
  width: 60px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: #35aa47;
  line-height: 30px;
  cursor: pointer;
}